[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
aiohttp = ">=3.7.4"
aiohttp-apiset = "==0.9.14.1"
pytest = "*"
pytest-aioworkers = "==0.3"
pytest-cov = "==4.0.0"
pytest-mock = "==3.6.1"

[dev-packages]
isort = "*"
mypy = "==0.931"
flake8 = "==4.0.1"
