[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
aiohttp = "==3.6.3"
aiohttp-apiset = "==0.9.13.2"
pytest = "*"
pytest-aioworkers = "==0.3"
pytest-cov = "==2.11.1"
pytest-mock = "==3.5.1"

[dev-packages]
isort = "*"
mypy = "==0.790"
flake8 = "==3.8.4"
