[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
aiohttp = "*"
aiohttp-apiset = "*"

[dev-packages]
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-aioworkers = "*"
pytest-mock = "*"
pytest-cov = "*"
